/* ------------- Custom Fonts -------------*/
/* poppins-regular - latin */
@font-face {
    font-display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');
}

/* poppins-600 - latin */
@font-face {
    font-display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2');
}

/* poppins-700 - latin */
@font-face {
    font-display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2');
}

/* poppins-800 - latin */
@font-face {
    font-display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/poppins-v20-latin-800.woff2') format('woff2');
}

/* inter-regular - latin */
@font-face {
    font-display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2');
}

/* inter-500 - latin */
@font-face {
    font-display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-v13-latin-500.woff2') format('woff2');
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #1F1F1F;
    background: none repeat scroll 0 0;
    background-color: #ffffff;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

input {
    outline: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Poppins';
}

/* Override Default Bootstrap CSS */
.sec-title-typo,
.item-title-typo,
.item-price-typo {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 55px;
    color: #1F1F1F;
}

.title-section span {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #FF9D00;
}

.item-title-typo,
.item-price-typo {
    font-size: 24px;
}

.item-price-typo {
    font-weight: 500;
    color: #000000;
}

.text-typo,
.panda-btn {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #4E4E4E;
}

.panda-btn {
    font-weight: 500;
    color: #FFFFFF;
    padding: 10px 25px 10px 18px;
    background-color: #000000;
    border-radius: 4px;
    display: inline-block;
    margin-top: -4px;

}



/*==================================================
                nav-bar start
==================================================*/
header {
    margin-top: 42px;
}
.navbar-nav .nav-item a.nav-link {
    color: #707070;
    font-weight: 500;
    padding-left: 12px;
    padding-right: 12px;
}

.search-box input {
    border: none;
    background-color: #F1F1F1;
    padding-top: 10px;
    padding-bottom: 10px;
}

.search-box input::placeholder {
    padding-left: 10px;
    color: #CCCCCC;
}

.search-btn {
    top: 50%;
    right: 0;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.search-icon {
    width: 22px;
    color: #CCCCCC;
}
/*==================================================
                nav-bar end
==================================================*/

/*==================================================
                slider start
==================================================*/

.slider .carousel-item {
    background: #feeae9;
}

.slider .carousel-item h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.5;
    color: #1F1F1F;
}

.slider .carousel-item h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 41px;
    font-weight: 500;
    line-height: 1.5;
    color: #FF136F;
}

/* button */
.slider a.panda-btn {
    background: rgb(2, 0, 36);
    background: linear-gradient(166deg, rgba(2, 0, 36, 1) 0%, rgba(255, 88, 155, 1) 0%, rgba(255, 19, 111, 1) 100%);
}

.panda-btn .bi-arrow-right {
    margin-left: 8px;
}

/*==================================================
                slider end
==================================================*/


/*==================================================
                categories start
==================================================*/
.categories img {
    width: 100px;
}

.categories h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.5;
    color: #FFFFFF;
}

.bg-yg {
    background: rgb(2, 0, 36);
    background: linear-gradient(164deg, rgba(2, 0, 36, 1) 0%, rgba(255, 156, 53, 1) 0%, rgba(255, 208, 25, 1) 100%);
}

.bg-pg {
    background: rgb(2, 0, 36);
    background: linear-gradient(164deg, rgba(2, 0, 36, 1) 0%, rgba(255, 88, 155, 1) 0%, rgba(255, 19, 111, 1) 100%);
}

.bg-bg {
    background: rgb(2, 0, 36);
    background: linear-gradient(164deg, rgba(2, 0, 36, 1) 0%, rgba(66, 137, 255, 1) 0%, rgba(63, 7, 248, 1) 100%);
}

/*==================================================
                categories end
==================================================*/


/*==================================================
            shoes and backpack Background
==================================================*/
.shoes,
.backpack {
    background-color: #F4F4F4;
}

/*==================================================
                     CTA start
==================================================*/
.cta {
    padding: 75px 0;
}

.cta>.container {
    padding: 145px 0;
    background: #FFF2F1;
}

.cta h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
    color: #1F1F1F;
}

.cta form input[type=email] {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #1F1F1F;
    padding: 15px 30px;
    width: 100%;
    outline: none;
    border: none;
}

.cta form input[type=email]::placeholder {
    color: #CCCCCC;
}

.send-btn {
    padding: 15px 40px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    background: #FF136F;
    background: linear-gradient(166deg, rgba(2, 0, 36, 1) 0%, rgba(255, 88, 155, 1) 0%, rgba(255, 19, 111, 1) 100%);
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

/*==================================================
                     CTA end
==================================================*/